.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: rgb(134, 11, 79);
    text-decoration: none;
}

body {
    font-size: 15px;
}

.main-container {
    margin: 0 auto;
    width: 380px;
    font-family: 'Poppins', sans-serif;
    /* border: 2px solid red; */
    padding: 2em;

}

.heading1 {
    font-weight: 100;
    color: hsl(234, 12%, 34%);
    margin-bottom: 0;
    padding-bottom: 0;

}

.heading2 {
    margin-top: 0;
    padding-top: 0;
}

.description,
.sub-section-description {
    color: hsl(229, 6%, 66%);
    letter-spacing: 1px;
    ;
}


.description {
    margin-bottom: 4.5em;
    text-align: justify;

}

.subsection-container {
    /* border: 2px solid blue; */
}

.sub-sections {
    
    margin-top: 2em;
    margin-bottom: 2em;
    padding-left: 1.5em;
    padding-right: 1.5em;
    border-radius: 0.5em;
    height:230px;
    box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.sub-sections >p>img{
    /* border: 2px solid green; */
    position:relative;
    float: right;
    margin-top:1em;
}

.sub-section-heading{
    margin-bottom: 0;;
}
.sub-section-description {
    /* border: 2px solid magenta; */
    margin-top:0;
    padding-top:0;
}


.sub-section1 {
    border-top: 4px solid hsl(180, 62%, 55%);
}

.sub-section2 {
    border-top: 4px solid hsl(0, 78%, 62%);
}

.sub-section3 {
    border-top: 4px solid hsl(34, 97%, 64%)
}

.sub-section4 {
    border-top: 4px solid hsl(212, 86%, 64%)
}


@media (min-width:675px){
    .main-container{
        margin:0 auto;
        width:1440px;
        /* border: 2px solid green; */
        align-content: center;
    }

    .heading1,
    .heading2,
    .description{
        text-align: center;
    }

    .description{
        margin-left:27em;
        margin-right:27em;
        text-align: center;
        /* border:2px solid brown; */
    }
    .sub-sections{
        width:300px;
        margin:1em;
    }

    .subsection-container{
        display:flex;       
        justify-content: center;
        align-items: center;
        /* border: 2px solid brown; */
        position: relative;        
      
    }

    .sub-section3{
        margin-top:2em;
    }
    
}